<h1>Anime and Manga</h1>
<div class="filter">
    <input type="text" placeholder="Search" [(ngModel)]="search" (ngModelChange)="onSearchChange()">
</div>
<div class="mediaList" (scroll)="atBottom()">
    <div class="media" *ngFor="let e of medias" (click)="goToDetails(e.id)">
        <img src={{e.coverImage.large}}  />
        <p *ngIf ="e.title.english != null else romaji">{{e.title.english}}</p>
        <ng-template #romaji>
            <p>{{e.title.romaji}}</p>
        </ng-template>
    </div>
</div>

