.mediaList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    padding: 5%;
    margin: 0 5%;
}

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1 1 15%;
}

.media img {
    height: 300px;
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
}

.filter {
    display: flex;
    flex-direction: row;
} 