<body>
  <div class="add-to-list-container">
    <h3 class="mat-display-2">Hi, {{ userName }}!</h3>
    <h4 class="mat-display-1">
      Let's get started by adding your favourite manga and anime to your lists.
    </h4>

    <div class="add-to-list-tools">
      <button mat-flat-button color="primary">All media</button>
      <button mat-stroked-button>Anime</button>
      <button mat-stroked-button>Manga</button>
      <mat-form-field
        style="width: 300px !important"
        class="search-field"
        appearance="fill"
      >
        <mat-label>Search for an anime or manga</mat-label>
        <input matInput name="anime" placeholder="Ex. Jujutsu Kaisen" />
      </mat-form-field>
    </div>

    <div class="manga-and-anime">
      <div class="add-to-list-media-row">
        <div class="media">
          <img src="../../assets/img/placeholder.png" />
          <h3 class="mat-subheading-2">Placeholder placeholder</h3>
          <p class="mat-body-1">Anime</p>
        </div>

        <div class="media">
          <img src="../../assets/img/placeholder.png" />
          <h3 class="mat-subheading-2">Placeholder placeholder</h3>
          <p class="mat-body-1">Anime</p>
        </div>

        <div class="media">
          <img src="../../assets/img/placeholder.png" />
          <h3 class="mat-subheading-2">Placeholder placeholder</h3>
          <p class="mat-body-1">Anime</p>
        </div>

        <div class="media">
          <img src="../../assets/img/placeholder.png" />
          <h3 class="mat-subheading-2">Placeholder placeholder</h3>
          <p class="mat-body-1">Anime</p>
        </div>

        <div class="media">
          <img src="../../assets/img/placeholder.png" />
          <h3 class="mat-subheading-2">Placeholder placeholder</h3>
          <p class="mat-body-1">Anime</p>
        </div>
      </div>
    </div>
  </div>
</body>
