<body>
  <div class="login-container">
    <mat-card>
      <h1 class="mat-headline">Log in to your Onigiri account</h1>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="onigiri@gmail.com" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" />
      </mat-form-field>

      <div class="buttons-container">
        <button mat-raised-button color="primary">Log in</button>
        <button mat-stroked-button color="primary">Create an account</button>
      </div>
    </mat-card>
  </div>
</body>
